.search-bar {
    width: 60%;
	background: #f9f9f9;
	font-size: 14px;
    color: #c5c5c5;
    border-radius: 10px;
    border: #000000 solid 2px;
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 8px 10px;
    box-shadow: none;

}

.user-btn{
  color: #000000;
  margin-left:90px ;
  font-size: 20px;
  margin-bottom:10px ;
  cursor: pointer;
}

.user-btn:hover{
 color: #000000;
 border-bottom: #000000 solid 2px;
 cursor: pointer;
}