.modal-header,
.modal-footer {
	border: 0;
}
.modal-header .close {
	padding: 6px 10px;
	margin: 0;
	position: absolute;
	right: -10px;
	top: -18px;
	background: red;
	opacity: 1;
	border-radius: 50px;
	color: #fff;
}
.modal-title {
	width: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
}
.modalSm {
	width: 20%;
}
.noPaddBtm {
	padding-bottom: 0;
}
.noPaddTop {
	padding-top: 0;
}
.editBtn {
	float: right;
	background: #07b5b6;
	border: #07b5b6 solid 2px;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 16px;
	border-radius: 10px;
	margin-top: 8px;
	transition-duration: 0.3s;
}
.editBtn:hover {
	color: #07b5b6;
	text-decoration: none;
	background: none;
	transition-duration: 0.3s;
}
.contentCenter {
	justify-content: center;
}
.form-control {
	background: #f9f9f9;
	font-size: 14px;
	color: #c5c5c5;
	border: #f9f9f9 solid 1px;
}
.modalLg {
	max-width: 800px;
}
.modal-title input,
.modal-title select {
	width: 20%;
	float: right;
}
.btnUpload {
	background: #07b5b6;
	border: #07b5b6 solid 2px;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 16px;
	border-radius: 10px;
	margin-top: 8px;
	transition-duration: 0.3s;
}
.btnUpload:hover {
	color: #07b5b6;
	text-decoration: none;
	background: none;
	transition-duration: 0.3s;
}
textarea {
	resize: none;
}
.addBtnArea {
	position: relative;
}
.btnAdd {
	position: relative;
	background: none;
	bottom: -60px;
	right: 40px;
	border: none;
}

.btnAdd:focus {
	outline: 0;
	box-shadow: none;
}
.addBtnArea img {
	margin-left: 60px;
}
.btnAdd img {
	margin: 0;
}
.btn-dark {
	background: #1b1d32;
	color: white;
	font-size: 18px;
	border: #1b1d32 solid 1px;
	transition-duration: 0.3s;
}

.speed-level-note {
	margin: 6px 0 0 0;
}

/* login page custom style */
body {
	background: #f4f5f8;
}
.loginArea {
	border-radius: 50px;
	padding: 100px 0;
	background: #fff;
	margin: 30px 0;
}

.formArea h3 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 60px;
}
.formArea input {
	border: 0;
	border-bottom: #000 solid 1px;
	font-size: 25px;
	color: #979797;
	border-radius: 0;
	height: auto;
}
.input-group-text {
	border-radius: 0;
	background: none;
	border: 0;
	border-bottom: #000 solid 1px;
}
.formArea input:focus {
	color: #495057;
	background-color: #fff;
	border: 0;
	border-bottom: #000 solid 1px;
	outline: 0;
	box-shadow: none;
}
.formArea .form-group {
	margin-bottom: 50px;
}
.btnSubmit {
	background: #41bea0;
	color: #fff;
	width: 30%;
	border: #41bea0 solid 1px;
}
.loginArea input[type="email"] {
	background: url("../../assets/img/envelope.png") no-repeat;
	padding-left: 40px;
	background-position-y: 50%;
}
.loginArea input[type="password"] {
	background: url("../../assets/img/lock.png") no-repeat;
	padding-left: 40px;
	background-position-y: 50%;
}

.adminPagination ul li {
	margin: 0 10px;
}
.adminPagination ul li a {
	padding: 5px 12px;
	margin: 0 3px 0 3px;
	border: 1px solid #8898aa;
	border-radius: 50%;
	color: #07b5b6;
	width: 38px;
	height: 38px;
	font-size: 17px;
	transition-duration: 0.3s;
}
.adminPagination ul li:last-child a {
	border-top-right-radius: 50% !important;
	border-bottom-right-radius: 50% !important;
}
.adminPagination ul li:first-child a {
	border-top-left-radius: 50% !important;
	border-bottom-left-radius: 50% !important;
}
.adminPagination ul li a:hover {
	background: #07b5b6;
	color: #fff;
	transition-duration: 0.3s;
}

.search-btn {
	border: none;
	background-color: none;
}

.search-btn > i {
	font-size: 26px;
}

/* Toastify Css */
.Toastify__toast--success {
	background-color: #5cb85c;
	border-radius: 5px;
	font-weight: bold;
}
.Toastify__toast--danger {
	background-color: #d9534f;
	border-radius: 5px;
	font-weight: bold;
}
