@media screen and (max-width: 767px) {
	.loginArea {
		border-radius: 50px;
		padding: 30px 0;
		background: #fff;
		margin: 135px 0 0;
	}
}
@media screen and (max-width: 420px) {
	.loginArea {
		margin: 75px 0 0;
	}
}
@media screen and (max-width: 400px) {
	.loginArea {
		margin: 135px 0 0;
	}
}
@media screen and (max-width: 374px) {
	.loginArea {
		margin: 35px 0 0;
	}
}

@media screen and (max-width: 325px) {
	.formArea h3 {
		font-size: 50px;
		font-weight: 700;
		margin-bottom: 40px;
	}
	.loginArea {
		margin: 15px 0 0;
	}
}
